<app-navbar></app-navbar>

<app-accordion title="Sezione 1">
    <p>Contenuto della prima sezione</p>
    <p>Altro contenuto</p>
</app-accordion>

<app-alert message="Operazione completata!" type="success"></app-alert>
<app-alert message="Errore nel salvataggio!" type="error"></app-alert>
<app-alert message="Attendere il completamento..." type="info"></app-alert>

<app-alert-x message="Questo è un messaggio di successo!" type="success"></app-alert-x>
<app-alert-x message="Errore durante il caricamento." type="error"></app-alert-x>
<app-alert-x message="Informazioni generiche." type="info"></app-alert-x>

<app-button>Cliccami!</app-button>

<app-card>
  <h2>titolo card</h2>
  <p>Contenuto della card...</p>
</app-card>

<app-form-field label="Email" [error]="'Email non valida'">
  <input type="email" class="form-input" placeholder="Inserisci email" aria-label="Email" />
</app-form-field>

<app-input></app-input>
<app-loader></app-loader>

<app-modal triggerLabel="Apri Modale">
  <h2>Benvenuto nella modale!</h2>
  <p>Qui puoi inserire qualsiasi contenuto.</p>
</app-modal>

<app-sidebar></app-sidebar>

<app-tabs [tabs]="tabsData"></app-tabs>

<app-textarea></app-textarea>

<app-toast
  *ngIf="showToast"
  message="Messaggio salvato con successo!"
  [duration]="5000"
  (closed)="handleToastClose()"
></app-toast>








<router-outlet />
